# Jupyter Notebook:
.ipynb_checkpoints
*/.ipynb_checkpoints

# Apple Desktop Services Store:
.DS_Store
*/.DS_Store

# Unused inference files and folders:
inference/image.jpg
inference/input.jpg
inference/output.jpg
inference/inputs
inference/outputs
